.diagonal-shadow::before, .diagonal-shadow::after {
	position: absolute;
	content: '';
	pointer-events: none;
}

.diagonal-shadow {
	z-index: 1;
	padding-top: 6em;
	background: #2072a7;
}

.diagonal-shadow::before, .diagonal-shadow::after {
	top: 0;
	left: -25%;
	z-index: -1;
	width: 150%;
	height: 75%;
	background: inherit;
	-webkit-transform: rotate(-2deg);
	transform: rotate(-2deg);
	-webkit-transform-origin: 0 0;
}

.diagonal-shadow::before {
	height: 50%;
	background: #535353;
	-webkit-transform: rotate(-3deg);
	transform: rotate(-3deg);
	-webkit-transform-origin: 3% 0;
	transform-origin: 3% 0;
}